@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
header {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    height: 7rem;
    margin-left: 5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2px;
}

.navbar ul li{
    font-weight: bold;
    padding: 25px 30px;
    text-decoration: none;
    color: #333;
}


.navbar ul li:hover{
    color: #0078d4;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-app {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 20px;
    text-align: center;
}
.container div {
    background-color: transparent;
}

.container h1 {
    color: #000000;
    font-family: 'Cedarville Cursive';
    font-size: 3rem;
    color: #0078d4;
}

.container p {
    color: #000000;
}

.carousel-container {
    display: flex;
    margin-left: 25rem;
    width: 80%;
    max-width: 1000px;
    height: 500px;
    position: relative;
}

.main-image {
    flex: 3;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(14, 14, 14, 0.788);
    padding: 10px;
    border-radius: 5px;
}

.image-text h1 {
    margin: 0;
    font-size: 2rem;
}

.image-text p {
    margin-top: 10px;
    font-size: 1rem;
}

.thumbnail-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.thumb {
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.thumb:hover {
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.05);
}

.info {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;

}

.container-2 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo h1 {
    font-family: 'Cedarville Cursive';
    color: #0078d4;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.outros{
    display: flex;
    gap: 20px;
}
input[type="date"],
input[type="number"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #065777;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: #4CAF50;
    font-weight: bold;
}

footer {
    background: rgb(111,173,221);
    background: linear-gradient(90deg, rgba(111,173,221,1) 0%, rgba(0,120,212,1) 50%, rgba(111,173,221,1) 100%);
    color: #fff;
    text-shadow: rgb(56, 56, 56) 0.1em 0.1em 0.2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1px;
    text-align: center;
    margin-top: 60px;
}

.linha{
    display: flex;
    gap: 17rem;
}

.voltar{
    margin-left: 25rem;
}

@media (max-width: 768px) {
    .prev, .next {
        padding: 10px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}